.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 200px;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.search-form {
  margin: 5px auto;
}
.search-form input {
  font-size:2.5em;
  box-sizing: border-box;
  padding:4px;
  text-align: center;
  border:none;
}
.search-form input:focus {
  border:none;
  outline: none;
}

.result {
  margin:5px auto;
}

.main-wrapper {
  display:flex;
}

.side-nav {
  background: gray;
  flex-basis: 400px;
  box-sizing: border-box;
}

.side-result {
  cursor: pointer;
  margin: 3px auto;
}

.side-result:hover {
  font-weight: bold
}

.main-container {
  flex: 1 100%;
}

.map-container {
  position: relative;
  max-width: 100%;
  height:1200px;
}





@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
